:root{
    --branco-principal: #FFFFFF;
    --roxo-secundaria: #b60052;
    --cor-botao: #0fa2d3;
    --cor-fundo: #000305;
}
body{
    background-color: var(--cor-fundo);
    color:var(--branco-principal)
}
*{
    margin: 0%;
    padding: 0%;
}
.principal {
    background-image: url(Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.img {
    width: 30%;
}
.container {
    height: 100%;
}